import(ggplot2)
import(brnn)
import(reshape2)
import(oce)
importFrom(scales, "pretty_breaks")
importFrom("stats", "cor", "lm", "qt", "quantile", "predict", "sd")
importFrom("utils", "capture.output", "setTxtProgressBar", "txtProgressBar")
import(dcv)
import(MLmetrics)
import(RWeka)
importFrom(dplyr, "select")
importFrom("caret", "train")
importFrom("randomForest", "randomForest")

export(daily_response)
export(plot_extreme)
export(plot_heatmap)
export(plot_specific)
export(critical_r)
export(count_ones)
export(years_to_rownames)
export(calculate_measures)
export(compare_methods)
export(smooth_matrix)
