import(ggplot2)
importFrom("brnn", "brnn", "predict.brnn")
importFrom("reshape2", "melt")
importFrom("scales", "pretty_breaks")
importFrom("stats", "cor", "lm", "qt", "quantile", "predict", "sd", "as.formula", "princomp")
importFrom("utils", "capture.output", "setTxtProgressBar", "txtProgressBar")
importFrom("dcv", "test.RE")
importFrom("graphics", "plot")
importFrom("MLmetrics", "RRSE")
importFrom("RWeka", "M5P", "Bagging", "Weka_control")
importFrom("dplyr", "select")
importFrom("caret", "train")
importFrom("randomForest", "randomForest")
importFrom("oce", "rescale")

export(daily_response)
export(plot_extreme)
export(plot_heatmap)
export(plot_specific)
export(critical_r)
export(count_ones)
export(years_to_rownames)
export(calculate_measures)
export(compare_methods)
export(smooth_matrix)
export(round_df)
