import(ggplot2)
import(brnn)
import(reshape2)
import(oce)
importFrom(scales, "pretty_breaks")
importFrom("stats", "cor", "lm", "qt", "quantile", "predict", "sd")
import(dcv)
import(MLmetrics)
import(RWeka)
import(dplyr)

export(daily_response)
export(plot_extreme)
export(plot_heatmap)
export(plot_specific)
export(critical_r)
export(years_to_rownames)
export(calculate_measures)
export(compare_methods)
export(smooth_matrix)
